/* latin-ext */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url(../fonts/audiowide_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url(../fonts/audiowide.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato_ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body
{
	background-color:		black;
	color:					white;
	font-family:			Lato, sans-serif;
}

#topRow
{
	display:				grid;
	grid-template-columns:	65% 35%;
	font-family:			Audiowide, sans-serif;
	font-size:				18vw;
	padding-left:			.35ex;
	padding-right:			.35ex;
}

#hour::after
{
	content:				':';
	margin-right:			-0.3em;
	top:					-1.3vh;
	position:				relative;
}

#weather
{
	font-size:				10vh;
	justify-self:			end;
	align-self:				center;
}

#weatherIcon svg
{
	width:					.8em;
	height:					auto;
}

#weatherIcon path,
.icon path
{
	fill:					white;
}

#weatherIcon g#Grid,
.icon g#Grid
{
	display:				none;
}

#forecast
{
	margin-top:				5vh;
	display:				flex;
}

#forecast > div
{
	flex:					1;
	font-size:				6vh;
	text-align:				center;
}

.icon
{
	margin-top:				.5em;
	margin-bottom:			.5em;
}

.icon svg
{
	width:					80%;
	height:					auto;
}
